@model RestaurantSystem.Web.ViewModels.Items.ItemViewModel


@{
    this.ViewData["Title"] = @Model.Name;
}

<link rel="/CSS/style.css" href="style.css">

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>

<img src="@Model.ImageUrl" style="width:100%; height:auto;"></img>


<div class="receipe-content-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <span>@DateTime.Now</span>
                    <h2>@Model.Name</h2>
                    <div class="receipe-duration">
                        <h6>Prep: @Model.PreparationTime mins</h6>
                        <h6>Yields: 8 Servings</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="receipe-ratings text-right my-5">
                    <div class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            <a href="/Ingredients/AddIngredient/?itemName=@Model.Name" class="btn delicious-btn" style="width: 2rem;">Add Ingredient</a>
                            <a href="/RecipeSteps/AddRecipeStep/?itemName=@Model.Name" class="btn delicious-btn" style="width: 2rem;">Recipe</a>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                @*<div class="single-preparation-step d-flex">
            <h4>01.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        </div>*@
                @{int i = 1;}
                @foreach (var step in Model.RecipeSteps)
                {
                    if (step.Description!=null)
                    {
                        <div class="single-preparation-step d-flex">
                            <h4>@i.</h4>
                            <p>@Html.Raw(step.SanitizedDescription)</p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <a href="/RecipeSteps/EditRecipeStep/?itemName=@Model.Name&id=@step.Id" class="btn delicious-btn" style="width: 2rem; margin-left:0; padding:0; float:right;">Edit</a>
                                    <a href="/RecipeSteps/DeleteRecipeStep/?itemName=@Model.Name&id=@step.Id" class="btn delicious-btn" style="width: 2rem; margin-left:0; padding:0; float:right;">Delete</a>
                                }
                            }
                        </div>
                        { i++; }
                    }

                }
            </div>
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>
                    @foreach (var item in Model.Ingredients)
                    {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck(@item.Id)">
                        <label class="custom-control-label" for="customCheck(@item.Id)">@item.Quantity @item.Name</label>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <a href="/Ingredients/EditIngredient/?itemName=@Model.Name&id=@item.Id" class="btn delicious-btn" style="width: 2rem; margin-left:0; padding:0; float:right;">Edit</a>
                                <a href="/Ingredients/DeleteIngredient/?itemName=@Model.Name&id=@item.Id" class="btn delicious-btn" style="width: 2rem; margin-left:0; padding:0; float:right;">Delete</a>
                            }
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

